<%- include('../partials/headerProfile.ejs') %>

	<div id="user-show">

		<div>
			<h3>Traveler Profile</h3>
		</div>

		<div>
			<p>First Name: <%= firstName %></p>
			<p>Last Name: <%= lastName %></p>
			<p>Date of Birth: <%=dateOfBirth%></p>
			<p>Hometown: <%=hometown%></p>
			<p>Email: <%=email%></p> 
		</div>

	</div>	

<%- include('../partials/footer.ejs') %>