<%- include('../partials/header.ejs') %>

	<div id="user-show">

	<h3>User Profile Page</h3>

	<p>First Name: <%= firstName %></p>
	<p>Last Name: <%= lastName %></p>
	<p>Date of Birth: <%=dateOfBirth%></p>
	<p>Hometown: <%=hometown%></p>
	<p>Email: <%=email%></p> 

	</div>	

<%- include('../partials/footer.ejs') %>