<%- include('../partials/header.ejs') %>

	<h3>Post Index</h3>

	<ul id="posts">
    <% posts.forEach((post) => { %>
      <li>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
        <p id="description"><%= post.city %>,
        <%= post.country %>
        <%= post.description %></p>
        <img src="<%= post.postPicture %>">
        </br>Posted by: <%= post.user.username %>
      </li>
    <% }) %>    
  </ul>

<%- include('../partials/footer.ejs') %>