<%- include('../partials/headerPostIndex.ejs') %>

  <div id="news-feed">

    <ul id="posts">
        <% posts.forEach((post) => { %>
          <li>
            <div id="post-index">
              <a href="/posts/<%= post.id %>"><%= post.title %></a>
              <p id="description">
                <%= post.city %>
                <%= post.country %>
              </p>
              <p>
                <%= post.date %>  
              </p>
              <img src="<%= post.postPicture %>">
              </br><p>Posted by: <%= post.user.username %></p>
            </div>
          </li>
        <% }) %>    
    </ul>

</div>

<%- include('../partials/footer.ejs') %>