<%- include('../partials/header.ejs') %>

	<h3>Show Page for <%= post.title %></h3>

	<p>Location: <%= post.city %>,
	<%= post.country %></p>
	<p>Description: <%= post.postDescription %></p>
	<img src="<%= post.postPicture %>">
	<p>Post created by: <%= post.user.username %></p>

  <ul id="comments">
    <% post.comments.forEach((comment) => { %>
      <li>
        <%= comment.text %>
        <br />
        <small>(<%= comment.date.toLocaleString() %>) by <%= comment.username %> </small>
      </li>
    <% }) %>
  </ul>

	<% if(username) { %>

	<form method="POST" action="/comments/<%= post.id %>">
	    <textarea name="text" placeholder="What do you think about <%= post.title %>?"></textarea>
	    <br />
	    <button>Add Comment</button>
	</form>
 	<% } %>


 	<% if(user == post.user.username) { %>
 	 <div>
    	<a href="/posts/<%= post.id %>/edit">(Edit <%= post.title %>)</a>
  	</div>

	<form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
    	<button>Delete <%= post.title %></button>
  	</form>
  	<% } %>


<%- include('../partials/footer.ejs') %>